<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp3.Properties.Settings.PRAKT1ConnectionString"
            connectionString="Data Source=DESKTOP-P4T6AUH\SQLEXPRESS;Initial Catalog=PRAKT1;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp3.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-P4T6AUH\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp3.Properties.Settings.PRAKT2ConnectionString"
            connectionString="Data Source=DESKTOP-P4T6AUH\SQLEXPRESS;Initial Catalog=PRAKT2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp3.Properties.Settings.PRAKT3ConnectionString"
            connectionString="Data Source=DESKTOP-P4T6AUH\SQLEXPRESS;Initial Catalog=PRAKT3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>